.navigation {
  display: flex;
  width: 100%;
  height: 46px;
  position: fixed;
  background-color: white;
  margin-top: -2%;
}

.container {
  margin-top: -4%;
}

.float_right {
  display: none;
}

.body_width {
  margin-left: 2%;
  margin-right: 2%;
}

.navigation_tablet {
  display: none;
}

.nav_img {
  height: 48px;
  width: 106px;
}

.nav_icons {
  position: absolute;
  right: 5%;
  margin-top: 2%;
}

.txt1 {
  position: absolute;
  margin-top: 30%;
  color: white;
  justify-content: flex-end;
}

.txt2_3 {
  position: absolute;
  margin-top: 20%;
  color: white;
}

.img1 {
  height: 184px;
  width: 100%;
  margin-top: 10%;
}

.img2_3 {
  height: 184px;
  width: 100%;
}

.span {
  color: grey;
  font-size: 10px;
}

.latest_list {
  color: orangered;
  margin-bottom: -10px;
}

.links {
  color: orangered;
}

.div_hard_fork {
  height: auto;
  width: 100%;
}

.hard_fork_img {
  height: 400px;
  width: 100%;
}

.tech {
  height: 400px;
}

.pic_logo {
  display: none;
}

.hard_fork_txt {
  position: absolute;
  margin-top: 50%;
  color: white;
}

.hard_fork_div2 {
  display: flex;
  background-color: rgb(236, 217, 182);
  justify-content: stretch;
}

.hard_img {
  height: 96px;
  width: 96px;
  justify-content: flex-end;
}

.list {
  margin-left: -15px;
  list-style: orange;
}

.div_latest_deal {
  display: flex;
}

.hard_fork_div2_txt {
  color: orangered;
}

.latest_news_img {
  width: 75px;
  height: 75px;
}

.lastest_deal_img {
  width: 75px;
  height: 75px;
}

.lastest_news {
  display: flex;
}

.latest-news-text {
  margin-left: 15px;
}

.infogrid {
  background-color: orangered;
  color: white;
  padding-left: 18%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 0%;
}

.infogrid-img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.seriesA {
  background-color: rgb(225, 223, 220);
  margin-top: 2px;
  padding-left: 18%;
}

.suitcase-flex {
  display: flex;
}

.news {
  color: orangered;
}

.hard_fork {
  color: orangered;
}

.search_2 {
  background: rgb(124, 123, 123);
  border-radius: 50%;
  display: block;
  height: 7px;
  width: 7px;
  padding: 15px;
  text-align: center;
  color: white;
  margin: 0.5%;
}

.flex-footer {
  display: flex;
  color: rgb(247, 241, 241);
  justify-content: center;
}

.footer.icons {
  display: flex;
}

.footer-deals {
  background-color: rgb(34, 33, 33);
  align-content: center;
  height: 120px;
  padding-top: 40px;
}

.foot-foot {
  padding: 5px;
  background-color: rgb(7, 7, 7);
  color: rgb(247, 241, 241);
  text-align: center;
}

.foot-foot-img {
  width: 50px;
}

.icons {
  display: flex;
  justify-content: center;
}

.event {
  margin-right: 1%;
}

@media only screen and (min-width: 1024px) {
  .body_width {
    margin-left: 10%;
    margin-right: 10%;
  }

  .first_img_txt {
    grid-area: a;
  }

  .img1 {
    height: 398px;
  }

  .txt1 {
    margin-top: 320px;
    width: 60%;
    font-size: 40px;
  }

  .txt_3 {
    margin-top: 8%;
    width: 30%;
  }

  .txt_2 {
    width: 30%;
    margin-top: 15%;
  }

  .img2_3 {
    height: 194px;
  }

  .img_2 {
    margin-top: 16.5%;
    padding-top: 17px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .img_3 {
    margin-bottom: 0.5%;
  }

  .second_img_txt {
    grid-area: b;
  }

  .third_img_txt {
    grid-area: c;
  }

  .pic_logo {
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
    background: transparent;
    margin-top: -4%;
    margin-left: -4%;
  }

  .container {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a b'
      'a a c'
      'a a c';
    width: 100%;
    margin-top: 0;
    position: relative;
  }

  .one {
    grid-area: a1;
  }

  .two {
    grid-area: a2;
  }

  .three {
    grid-area: a3;
  }

  .four {
    grid-area: a4;
  }

  .five {
    grid-area: a5;
  }

  .six {
    grid-area: a6;
  }

  .seven {
    grid-area: a7;
  }

  .eight {
    grid-area: a8;
  }

  .container_2 {
    grid-gap: 1.5%;
    display: grid;
    grid-template-areas:
      'a1 a2 a3 a4'
      'a5 a6 a7 a8';
    width: 100%;
  }

  .lastest_news {
    display: block;
    width: 100%;
  }

  .latest-news-text {
    margin: auto;
    width: 100%;
  }

  .latest_news_img {
    height: 135px;
    width: 100%;
    margin: auto;
  }

  .aaa {
    grid-area: aa;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .bbb {
    grid-area: bb;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .ccc {
    grid-area: cc;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .ddd {
    grid-area: dd;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .funding_rounds {
    display: flex;
    width: 100%;
  }

  .right_links {
    display: flex;
    margin-left: 30%;
    width: 40%;
    margin-top: 1%;
  }

  .links {
    margin: 2%;
    color: orangered;
  }

  .latest_list {
    width: 60%;
  }

  .container_3 {
    display: grid;
    grid-template-areas: 'aa bb cc dd';
    gap: 1.5%;
    width: 100%;
    height: 100%;
  }

  .infogrid {
    background-color: orangered;
    color: white;
    padding-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
  }

  .infogrid-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
  }

  .seriesA {
    background-color: rgb(225, 223, 220);
    margin-top: 2px;
    padding-left: 30%;
  }

  .a1a {
    grid-area: a1a;
  }

  .a2a {
    grid-area: a2a;
  }

  .a3a {
    grid-area: a3a;
  }

  .a4a {
    grid-area: a4a;
  }

  .a5a {
    grid-area: a5a;
  }

  .a6a {
    grid-area: a6a;
  }

  .a7a {
    grid-area: a7a;
  }

  .a8a {
    grid-area: a8a;
  }

  .a9a {
    grid-area: a9a;
  }

  .hard_fork_img {
    height: 234px;
  }

  .hard_fork_txt {
    margin-top: 10%;
    width: 30%;
  }

  .container_4 {
    grid-gap: 1.5%;
    display: grid;
    grid-template-areas:
      'a1a a2a a3a'
      'a4a a5a a6a'
      'a7a a8a a9a';
    width: 100%;
    margin-bottom: 10%;
  }

  .b1b {
    grid-area: b1b;
  }

  .b2b {
    grid-area: b2b;
  }

  .b3b {
    grid-area: b3b;
  }

  .b4b {
    grid-area: b4b;
  }

  .b5b {
    grid-area: b5b;
  }

  .b6b {
    grid-area: b6b;
  }

  .b7b {
    grid-area: b7b;
  }

  .b8b {
    grid-area: b8b;
  }

  .div_latest_deal {
    display: block;
  }

  .lastest_deal_img {
    height: 214px;
    width: 100%;
    margin: auto;
  }

  .container_5 {
    grid-gap: 1.5%;
    display: grid;
    grid-template-areas:
      'b1b b2b b3b b4b'
      'b5b b6b b7b b8b';
    width: 100%;
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    color: grey;
  }

  .nav_img {
    display: none;
    height: 48px;
    width: 106px;
  }

  .navigation {
    display: none;
  }

  .search {
    margin-top: 2%;
    margin-left: 10%;
    position: absolute;
    right: 2.5%;
    display: none;
  }

  .nav_links {
    margin-left: 2%;
    margin-top: 2%;
  }

  .navigation_tablet {
    background-color: white;
    width: 100%;
    height: 48px;
    display: flex;
    position: fixed;
    margin-top: 1%;
  }

  .sub_nav {
    position: absolute;
    left: -0.5%;
    width: 100%;
    padding-top: 1%;
  }

  .sub_search {
    position: absolute;
    right: 3%;
    padding-bottom: 7px;
  }

  .navigation_desktop {
    display: flex;
    background-color: black;
    align-items: center;
    height: 35px;
    position: fixed;
    width: 100%;
    margin-top: -1%;
  }

  .float_right {
    position: absolute;
    right: -2%;
    width: 25%;
  }

  .float_left {
    position: absolute;
    left: 1%;
    width: 45%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .body_width {
    margin-left: 2%;
    margin-right: 2%;
  }

  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1.5%;
  }

  .lastest_news {
    display: block;
    width: 100%;
  }

  .latest-news-text {
    margin: auto;
    width: 100%;
  }

  .latest_news_img {
    height: 135px;
    width: 100%;
    margin: auto;
  }

  .div_latest_deal {
    display: block;
  }

  .lastest_deal_img {
    width: 100%;
    margin: auto;
    height: 214px;
  }

  .latest-news-text {
    width: 100%;
    margin: auto;
  }

  .container_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1.5%;
    margin-bottom: 5%;
  }

  .hard_fork {
    margin-top: 5%;
  }

  .hard_fork_img {
    height: 234px;
    width: 100%;
    margin: auto;
  }

  .container_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5%;
    width: 100%;
    margin-bottom: 30%;
  }

  .hard_fork_txt {
    width: 50%;
    margin-top: 18%;
    position: absolute;
  }

  a {
    text-decoration: none;
    color: grey;
  }

  .nav_img {
    height: 80px;
    width: 106px;
    margin-top: -30px;
    margin-left: 0;
    position: absolute;
  }

  .navigation {
    display: none;
  }

  .sub_nav {
    position: absolute;
    left: 13%;
    width: 100%;
    padding-top: 1%;
  }

  .sub_search {
    display: none;
  }

  .navigation_desktop {
    display: flex;
    background-color: black;
    align-items: center;
    height: 35px;
    position: fixed;
    width: 100%;
    margin-top: -3%;
  }

  .float_right {
    display: none;
  }

  .float_left {
    position: absolute;
    left: 15%;
    width: 60%;
  }

  .search {
    display: none;
  }

  .nav_links {
    margin-left: 2%;
    margin-top: 2%;
  }

  .navigation_tablet {
    background-color: white;
    width: 100%;
    height: 48px;
    display: flex;
    position: fixed;
  }

  .first_img_txt {
    grid-area: a;
  }

  .img1 {
    height: 398px;
  }

  .txt1 {
    margin-top: 250px;
    width: 60%;
    font-size: 40px;
  }

  .txt_3 {
    margin-top: 10%;
    width: 30%;
  }

  .txt_2 {
    width: 30%;
    margin-top: 15%;
  }

  .img2_3 {
    height: 194px;
  }

  .img_2 {
    margin-top: 15%;
    padding-top: 17px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .pic_logo {
    display: none;
  }

  .second_img_txt {
    grid-area: b;
  }

  .third_img_txt {
    grid-area: c;
  }

  .container {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a b'
      'a a c'
      'a a c';
    width: 100%;
    margin-top: 3%;
  }

  .container_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5%;
    width: 100%;
    height: 100%;
  }

  .aaa .bbb .ccc{
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .right_links {
    display: flex;
  }

  .links {
    margin-right: 2%;
  }

  .ddd {
    display: none;
  }

  .infogrid {
    background-color: orangered;
    color: white;
    padding-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
  }

  .infogrid-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
  }

  .seriesA {
    background-color: rgb(225, 223, 220);
    margin-top: 2px;
    padding-left: 30%;
  }
}
