.navigation{
    display: flex;
    width: 100%;
    height: 46px;
    position: fixed;
    background-color: white;
}

.nav_icons {
    position: absolute;
    right: 5%;
}

/*.search {
    margin-right: 1%;
    width: 20px;
}

.first_img_txt {
    position: absolute;
}*/

.txt1 {
    position: absolute;
    margin-top: 30%;
    color: white;
}

.txt2_3{
    position: absolute;
    margin-top: 20%;
    color: white;
}

.img1 {
    height: 184px;
    width: 100%;
    margin-top: 10%;
}

.img2_3 {
    height: 184px;
    width: 100%;
}

.span {
    color: grey;
    font-size: 10px;
}

.latest_list {
    color:orangered;
    margin-bottom: -10px;
}

.div_hard_fork {
    height: auto;
    width: 100%;
}

.hard_fork_img {
    height: 100%;
    width: 100%;
}

.hard_fork_txt {
    position: absolute;
    margin-top: 60%;
    color: white;
}

.hard_fork_div2 {
    display: flex;
    background-color: rgb(236, 217, 182);
    justify-content: stretch;
}

.hard_img {
    height: 96px;
    width: 96px;
    justify-content: flex-end;
}

.list {
    margin-left: -15px;
    list-style: orange;
}

.div_latest_deal {
    display:flex;
}

.hard_fork_div2_txt {
    color: orangered;
    
}

.latest_news_img {
    width: 75px;
    height: 75px;
}

.lastest_deal_img {
    width: 75px;
    height: 75px;
}

.lastest_news {
    display: flex;
}

.latest-news-text{
    margin-left: 15px;
}

.last-footer {
    padding-left: 15%;
    padding-right: 15%;
    background-color: black;
    display: flex;
    text-align: center;

}

.last-footer-text{
    color: rgb(235, 222, 222);
}

.last-footer-img{
    width: 20%;
}


.flex-footer2{
    color: rgb(235, 222, 222);
    text-align: center;
    margin-top: 
}

.search_2{
    border-radius: 50%;
    background: grey;
    height: 20px;
    width: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 0.5%;
}

.footer-text{
    display: flex;
    color: white;
    text-align: center;
    justify-content: space-between;

}

.top-footer{
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 15%;
    background-color: rgb(51, 51, 51);
}

.search{
    margin-left: 5%;
}

.infogrid{
    background-color: orangered;
    color: white;
    padding-left: 18%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
}

.infogrid-img{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.seriesA{
    background-color: rgb(225, 223, 220);
    margin-top: 2px;
    padding-right: 25px;
}

.suitcase-flex{
    display: flex;
}

.News{
    color: orangered;
}

.hard_fork{
    color: orangered;
}