.navigation {
  display: flex;
  width: 100%;
  height: 46px;
  position: fixed;
  background-color: white;
}

.navigation_tablet {
  display:none;
}

.nav_img{
  height:48px;
  width:106px;
}

.nav_icons {
  position: absolute;
  right: 5%;
}

.txt1 {
  position: absolute;
  margin-top: 30%;
  color: white;
}

.txt2_3 {
  position: absolute;
  margin-top: 20%;
  color: white;
}

.img1 {
  height: 184px;
  width: 100%;
  margin-top: 10%;
}

.img2_3 {
  height: 184px;
  width: 100%;
}

.span {
  color: grey;
  font-size: 10px;
}

.latest_list {
  color: orangered;
  margin-bottom: -10px;
}

.div_hard_fork {
  height: auto;
  width: 100%;
}

.hard_fork_img {
  height: 100%;
  width: 100%;
}

#tech {
  height: 400px;
}

.hard_fork_txt {
  position: absolute;
  margin-top: 60%;
  color: white;
}

.hard_fork_div2 {
  display: flex;
  background-color: rgb(236, 217, 182);
  justify-content: stretch;
}

.hard_img {
  height: 96px;
  width: 96px;
  justify-content: flex-end;
}

.list {
  margin-left: -15px;
  list-style: orange;
}

.div_latest_deal {
  display: flex;
}

.hard_fork_div2_txt {
  color: orangered;
}

.latest_news_img {
  width: 75px;
  height: 75px;
}

.lastest_deal_img {
  width: 75px;
  height: 75px;
}

.lastest_news {
  display: flex;
}

.latest-news-text {
  margin-left: 15px;
}

.flex-footer2 {
  color: rgb(235, 222, 222);
  text-align: center; 
}

.infogrid {
  background-color: orangered;
  color: white;
  padding-left: 18%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 0%;
}

.infogrid-img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.seriesA {
  background-color: rgb(225, 223, 220);
  margin-top: 2px;
  padding-left: 18%;
}

.suitcase-flex {
  display: flex;
}

.News {
  color: orangered;
}

.hard_fork {
  color: orangered;
}

.search_2 {
  background: rgb(124, 123, 123);
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 10px;
  padding: 10px;
  text-align: center;
  /* width: 40px; */
  color: white;
  margin: 0.5%;
}

.mail {
  background: rgb(124, 123, 123);
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 10px;
  padding: 10px;
  text-align: center;
  width: 40px;
  color: white;
  margin: 0.5%; 
}

.flex-footer {
  display: flex;
  color: rgb(247, 241, 241);
  justify-content: center;
  margin-top: 5%;
}

.footer.icons {
  display: flex;
}

.footer-deals {
  padding: 40px;
  background-color: rgb(34, 33, 33);
  align-content: center;
}

.foot-foot {
  padding: 25px;
  background-color: rgb(7, 7, 7);
  color: rgb(247, 241, 241);
  text-align: center;
}

.foot-foot-img {
  width: 50px;
}

#icons {
  display: flex;
  justify-content: center;
}
#event {
  margin: 1%;
}

#about {
  margin: 1%;
}

#advertise {
  margin: 1%;
}

#jobs {
  margin: 1%;
}

#contact {
  margin: 1%;
}

@media only screen and (min-width: 768px){
  .first_img_txt {
    grid-area: a;
  }

  .img1 {
    height: 398px;
  }

  .txt1 {
    margin-top: 400px;
  }

  .txt_3 {
    margin-top: 15%;
  }

  .img2_3 {
    height: 194px;
  }

  .img_2 {
    margin-top: 15%;
    padding-top: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }


  .second_img_txt {
    grid-area: b;
  }

  .third_img_txt {
    grid-area: c;
  }

  .container {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a b'
      'a a c'
      'a a c';
  }
}

@media only screen and (min-width: 768px){
  .one {
    grid-area: a1;
  }

  .two {
    grid-area: a2;
  }

  .three {
    grid-area: a3;
  }

  .four {
    grid-area: a4;
  }

  .five {
    grid-area: a5;
  }

  .six {
    grid-area: a6;
  }

  .seven {
    grid-area: a7;
  }

  .eight {
    grid-area: a8;
  }

  .container_2 {
    grid-gap: -50%;
    display: grid;
    grid-template-areas:
      'a1 a2 a3 a4'
      'a5 a6 a7 a8';
    width: 100%;
    gap: 0.5%;
  }

  .lastest_news {
    display: block;
    width: 100%;
  }

  .latest-news-text {
    margin: auto;
    width: 100%;
  }

  .latest_news_img {
    height: 135px;
    width: 100%;
    margin: auto;
  }
} 

@media only screen and (min-width: 768px){
  .aaa{
    grid-area: aa;
  }

  .bbb{
    grid-area: bb;
  }

  .ccc{
    grid-area: cc;
  }

  .ddd{
    grid-area: dd;
  }

  .container_3 {
    display: grid;
    grid-template-areas: 
      'aa bb cc dd';
    gap: 0.5%;
    width: 100%;
    height:100%;
    }

    .infogrid {
      background-color: orangered;
      color: white;
      padding-left: 30%;
      padding-top: 3%;
      padding-bottom: 3%;
      margin-bottom: 0%;
    }
    
    .infogrid-img {
      width: 50px;
      height: 50px;
      position: absolute;
      margin-top: 20px;
      margin-left: 10px;
    }
    
    .seriesA {
      background-color: rgb(225, 223, 220);
      margin-top: 2px;
      padding-left: 30%;
    }
  
    .aaa{
      width: 100%;
      margin:auto;
      height: 100%
    }
  
    .bbb{
      width: 100%;
      margin: auto;
      height:100%;
    }
  
    .ccc {
      width:100%;
      margin: auto;
      height:100%
    }
  
    .ddd{
      width:100%;
      margin:auto;
      height:100%;
    }
}

@media only screen and (min-width: 768px){
  .a1a {
    grid-area: a1a;
  }
    
  .a2a {
    grid-area: a2a;
  }
    
  .a3a {
    grid-area: a3a;
  }
    
  .a4a {
    grid-area: a4a;
  }

  .a5a {
    grid-area: a5a;
  }

  .a6a {
    grid-area: a6a;
  }

  .a7a {
    grid-area: a7a;
  }

  .a8a {
    grid-area: a8a;
  }

  .a9a {
    grid-area: a9a;
  }

  .hard_fork_img {
    height: 393px;
  }

  .container_4 {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'a1a a2a a3a'
      'a4a a5a a6a'
      'a7a a8a a9a';
  }
}

@media only screen and (min-width: 768px) {
  .b1b {
    grid-area: b1b;
  }

  .b2b {
    grid-area: b2b;
  }

  .b3b {
    grid-area: b3b;
  }
        
  .b4b {
    grid-area: b4b;
  }  
  
  .b5b {
    grid-area: b5b;
  }

  .b6b {
    grid-area: b6b;
  }
  
  .b7b {
    grid-area: b7b;
  }

  .b8b {
    grid-area: b8b;
  }

  .div_latest_deal {
    display: block;
  }

  .lastest_deal_img {
    height: 214px;
    width: 100%;
    margin: auto;
  }

  .hard_fork_txt {
    margin-top: 25%;
    width: 288px;
  }

  .container_5 {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'b1b b2b b3b b4b'
      'b5b b6b b7b b8b';
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  a {
    text-decoration: none;
    color: grey;
  }

  .nav_img{
    height:48px;
    width:106px;
  }

  .navigation{
    display:none;
  }

  .search {
    margin-top: 2%;
    margin-left: 10%;
    position: absolute;
    right: 2.5%;
  }

  .nav_links {
    margin-left: 2%;
    margin-top: 2%;
  }

  .navigation_tablet {
    position: fixed;
    background-color: white;
    width: 100%;
    height:48px;
    display: flex;
  }

}




/* .....................New day................................................*/

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 0.5%;
  }

  .lastest_news {
    display: block;
    width: 100%;
  }

  .latest-news-text {
    margin: auto;
    width: 100%;
  }

  .latest_news_img {
    height: 135px;
    width: 100%;
    margin: auto;
}


@media only screen and (min-width: 600px) and (max-width: 767px) {
 
  .div_latest_deal {
    display: block;
  }

  .lastest_deal_img {
    width: 100%;
    margin: auto;
  }

  .latest-news-text {
    width: 100%;
    margin: auto;
  }

  .container_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  } 
}



@media only screen and (min-width: 600px) and (max-width: 767px) {

  .hard_fork_img {
    height: 393px;
    width: 100%;
    margin: auto;
  }

  .container_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

  a {
    text-decoration: none;
    color: grey;
  }

  .nav_img{
    height:48px;
    width:106px;
  }

  .navigation{
    display:none;
  }

  .search {
    margin-top: 2%;
    margin-left: 10%;
    position: absolute;
    right: 2.5%;
  }

  .nav_links {
    margin-left: 2%;
    margin-top: 2%;
  }

  .navigation_tablet {
    position: fixed;
    background-color: white;
    width: 100%;
    height:48px;
    display: flex;
  }

}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .first_img_txt {
    grid-area: a;
  }

  .img1 {
    height: 398px;
  }

  .txt1 {
    margin-top: 400px;
  }

  .txt_3 {
    margin-top: 15%;
  }

  .img2_3 {
    height: 194px;
  }

  .img_2 {
    margin-top: 15%;
    padding-top: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }


  .second_img_txt {
    grid-area: b;
  }

  .third_img_txt {
    grid-area: c;
  }

  .container {
    grid-gap: 0.5%;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a b'
      'a a c'
      'a a c';
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
    width: 100%;
    height:100%;
  }

  .aaa{
    width: 100%;
    margin:auto;
    height:100%;
  }

  .bbb{
    width: 100%;
    margin: auto;
    height:100%;
  }

  .ccc {
    width:100%;
    margin: auto;
    height:100%;
  }

  .ddd{
    display:none;
  }

  .infogrid {
    background-color: orangered;
    color: white;
    padding-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
  }
  
  .infogrid-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .seriesA {
    background-color: rgb(225, 223, 220);
    margin-top: 2px;
    padding-left: 30%;
  }
}